<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension id="product" point="org.eclipse.core.runtime.products">
	<product name="Reactive E4 Fx App" application="org.eclipse.fx.ui.workbench.fx.application" >
		<property name="appName" value="Reactive E4 Fx App" />
		
		<property name="applicationXMI" value="com.simonscholz.re4fx.app/Application.e4xmi" />
		
		<property name="cssTheme" value="theme.default" />
		
	</product>
	
</extension>
</plugin>
